{% extends 'base.html' %}
{% block content %}

    <h1> Sign Up Page </h1>

    <form method = "POST" class="container col-4">     <!--  <form action="/contact"></form> -->
        {{ form.hidden_tag() }}     <!-- input id = csrf_token      when you inspect-->

        {{ form.username(class="form-control", placeholder="Username") }}
        {{ form.email(class="form-control", placeholder="Email") }}
        {{ form.password(class="form-control", placeholder="Password") }}
        {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
        {{ form.submit(class="btn btn-primary") }}        
    </form>


{% endblock %}
